.le-icon {
	--le-icon-color: inherit;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	fill: currentColor;
	color: var(--le-icon-color);
	font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
	.le-icon--#{$val} {
		--le-icon-color: var(--le-color-#{$val});
	}
}
